/* Autor: Camilo Moreno*/
/*----------- Header y footer--------------*/
header{
    position: sticky;
    top: 0;
    z-index: 1071;
}
nav, .footer-copyright {
    background-color: rgb(36, 93, 131) !important;
    padding: 20px !important;
    border-bottom: 1px solid rgb(36, 34, 34);
    color: white;
}
.nav-item > a, .navbar-brand{
    color: white!important;
}
.footer-content{
    padding-top: 20px;
    background-color: rgb(51, 133, 187) !important;
    color:white
}
.btn-white{
    color: white !important;
}
.btn-white:hover{
    
    color: black!important;
}

/*----------- Header y footer--------------*/

.boton{
    width: 17%;
    margin: 5px 180px;
    background-color: rgb(36, 93, 131);
    color: white;
}
.boton:hover{
    color: black!important;
}
.diseño1{
    text-align: center;
}
.cod{
    text-align: center;
}
.descripcion{
    text-align: center;
}
.precio_carro{
    text-align: center;
}
.cantidad_carro{
    text-align: center;
    width: 10%;
}
.eliminar_carro{
    text-align: center;
}
.total_carro{
    text-align: center;
}
.numero{
    align-content:center ;
}

.suma{
    text-align: right;
}