/*header{
    position: sticky;
    top: 0;
    z-index: 1;
}*/
nav, .footer-copyright {
    background-color: rgb(17, 9, 61, 0.945) !important;
    padding: 20px !important;
    border-bottom: 1px solid rgb(36, 34, 34);
    color: white;
 }
 .nav-item > a, .navbar-brand{
    color: white!important;
}
.footer-content{
    padding-top: 20px;
    background-color: rgb(17, 9, 61, 0.945) !important;
    color:white
}
.iniciar{
    text-align: center;
    color: white;
}
.row{
    width: 100%;
    margin: 0px 0px 0px 0px;
    align-items: center;
    align-content: center;
    
}

.container2{
    width: 450px;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.513);
    align-items: center;
    align-content: center;

}
h1{
    color: rgb(255, 255, 255);
    
}
#register{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center; 

   
}
::placeholder{
    color: rgb(0, 0, 0);
}
.diseño_input{
    width: 400px;
    display: block;
    margin: 10px auto;
    padding: 5px 10px;
    text-align: left; 
    outline: none;
    background-color: rgba(255, 255, 255, 0.726);
}

.diseño_label{
    color: rgba(255, 255, 255, 0.945);
    padding: 20px 0px 0px ;
    text-align: left;
}

.btn-registro{
    margin: 40px auto;
    border-radius: 30px;
    width: 200px;
    height: 35px;
    background: linear-gradient(to right, #4ba4e7 ,#3962df );
}