body{
    background-image: url(../img/fondostore1.jpg);
}
.masthead {
    margin: auto;
    height: 50vh;
    background-image: url(../img/fondoestore.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.menu{
    margin: auto;
    background-color: rgb(17, 9, 61, 0.945);
    padding: 12px;
}
.list-products{
    margin: auto;
    padding: 30px;
}
.card{
    padding: 0px 10px 0px 10px;
    margin-top: 5px;
    border: none!important;
}
.ver-detalle>button{
    color: white !important;
    background-color: #f33f3f!important;
}
.ver-detalle>button:hover{
    background-color: rgb(17, 9, 61, 0.945) !important;
    margin-left: 0px;
}
.cantidad-producto{
    border: 2px dashed black;
    margin-right: 0px;
}
.btn-white{
    color: white !important;
}
.btn-white:hover{
    
    color: black!important;
}
.precio_anterior{
    color: #f33f3f;
}
.precio_descuento{
    color: rgb(37, 228, 37);
}

