/* Autor: Walter Giovanny Cuadros Rincón */

header{
    position: sticky;
    top: 0;
    z-index: 1;
}
#logo{
    width: 46%;
}
 nav, .footer-copyright {
    background-color: rgb(36, 93, 131) !important;
    padding: 20px !important;
    border-bottom: 1px solid rgb(36, 34, 34);
    color: white!important;
}
.nav-item > a, .navbar-brand{
    color: white!important;
}

.navbar-toggler{
    color: rgba(125,125,125,.5);
    border-color: rgba(226, 223, 208, 0.829)!important;
}
.masthead {
    margin: auto;
    height: 50vh;
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.menu{
    margin: auto;
    background-color: rgb(51, 133, 187);
    padding: 12px;
}
.list-products{
    margin: auto;
    padding: 30px;
}
.card{
    padding: 0px 10px 0px 10px;
    margin-top: 5px;
    border: none!important;
}
.ver-detalle>button{
    color: white !important;
    background-color: #f33f3f!important;
}
.ver-detalle>button:hover{
    background-color: rgb(51, 133, 187) !important;
    margin-left: 0px;
}
.cantidad-producto{
    border: 2px dashed black;
    margin-right: 0px;
}
.cart-button{
    padding:12px;
}
.btn-white{
    color: white !important;
}
.btn-white:hover{
    
    color: black!important;
}
.footer-content{
    padding-top: 20px;
    background-color: rgb(208 220 228) !important;
    color:white
}
